POSTGRES_DB=fuel_route_planner
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_URL=redis://localhost:6379/0

OPEN_ROUTE_SERVICE_API_KEY=

DJANGO_SECRET_KEY=key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1